/* ------------------------ Card ------------------------*/

.dark .card1{
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    max-height: 700px;
    background-color: #262b41;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;

}


.card1{
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    max-height: 700px;
    background-color: #f1f3f9;
    cursor: pointer;
    color: white;
    border-radius: 15px;
    overflow: hidden;
}

.card1:hover{
    background-color: #dddeea;
}

.dark .card1:hover{
    background-color: #343a53;
}

.card1::after{
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    left:0;
    bottom: 0;
    top: 0;
    right:0;
    /* background: green; */
    cursor: pointer;
    /* border-top-left-radius: 15px; */
    /* border-top-right-radius: 15px; */
}

.card1.Youtube::after{
        background-color:  hsl(348, 97%, 39%) !important;
}

.card1.Facebook::after{
    background-color: hsl(208, 92%, 53%) !important;
}

.card1.Twitter::after{
    background-color: hsl(203, 89%, 53%) !important;
}

.card1.Instagram::after{
    background:linear-gradient( 90deg,hsl(37, 97%, 70%) , hsl(329, 70%, 58%));
}


.card1::after{
    transform: scale(0,1);
    transition: transform 0.8s ease;
}
.card1:hover::after{
    transform: scale(1,1);
}

/* ------------------------ Card Components ------------------------*/

.CardUpperColor::after{
    --padding:1.5em;
    content: "";
    position: absolute;
    height: 7px;
    left: calc(var(--padding) * -1);
    bottom:  0;
    width:calc(100% + var(--padding));
    background: var(--clr-accent-400);
    transform: scaleX(0);
    transition: transform 500ms ease;
}


.card1:hover .CardUpperColor::after{
    transform: scaleY(1);
}

.Name{
    padding-top: 20px;
    display: inline-block;
}


.AllTimeFollwers{
    padding-top:15px ;
}

.UserName{
    display: flex;
    justify-content: space-between;
}

.UserName a{
    padding-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.NumOfFollwers{
    font-size: 70px;
    color:black;
}

.dark .NumOfFollwers{
    font-size: 70px;
    color:white;
}

.FollowersMain{
    letter-spacing: .2rem;
    font-size: 30px;
    color:#555A75;
}

.NamePlusLogo{
    text-decoration: none; 
    color: #8188ac;
    padding-left: 20px;
    font-size: 20px;
}
.UserName img{
    padding-top: 4px;
}
.GrowthMain{
    font-size: 20px;
}

/* ------------------------ animation  ------------------------*/


.GrowthMain{
    opacity: 0
  }
  
  .GrowthMain{
    animation: change 2s ease-in-out forwards;
  }

  
  @keyframes change {
    to {
      opacity: 1
    }
  }

/* ------------------------ Media queries  ------------------------*/

@media (max-width: 767.98px){ 
    .CardsMargin{
        margin-top: 15px;
    }

}


