/* ------------------------ Card ------------------------*/



.card1{
    position: relative;
    width: 100%;
    height: auto;
    max-height: 700px;
    background-color: #21263A;
    cursor: pointer;
    color: white;
    border-radius: 15px;
}

.card1:hover{
    background-color: #2C324B;
}

.card1::after{
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    left:0;
    bottom: 0;
    top: 0.3%;
    right:0;
    background: green;
    cursor: pointer;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card1::after{
    transform: scale(0,1);
    transition: transform 0.8s ease;
}
.card1:hover::after{
    transform: scale(1,1);
}

/* ------------------------ Card Components ------------------------*/

.CardUpperColor::after{
    --padding:1.5em;
    content: "";
    position: absolute;
    height: 7px;
    left: calc(var(--padding) * -1);
    bottom:  0;
    width:calc(100% + var(--padding));
    background: var(--clr-accent-400);
    transform: scaleX(0);
    transition: transform 500ms ease;
}


.card1:hover .CardUpperColor::after{
    transform: scaleY(1);
}

.Name{
    padding-top: 20px;
    display: inline-block;
}

.UserName{
    display: inline-block;
}

.AllTimeFollwers{
    padding-top:15px ;
}


.NumOfFollwers{
    font-size: 70px;
}

a{
    text-decoration: none; 
    color: white;
}



/* ------------------------ Media queries  ------------------------*/

@media (max-width: 767.98px){ 
    .CardsMargin{
        margin-top: 15px;
    }

}
