
/* ------------------------ Card ------------------------*/

.cardOverView{
    position: relative;
    height: auto;
    width: 100%;
    max-height: 700px;
    background-color: #21263A;
    cursor: pointer;
    color: white;
    border-radius: 15px;
}

.cardOverView:hover{
    background-color: #2C324B;
}


/* ------------------------ Card Components ------------------------*/

/* ------------------------ CardOverViewBody ------------------------*/

.PageNamePlusIcon{
    display: flex;
    padding: 20px;
    padding-bottom: 0;
    font-size: 25px;
    justify-content: space-between;
}

.FollowersPlusGrowth{
    display: flex;
    padding: 20px;
    padding-bottom: 0;
    font-size: 30px;
    justify-content: space-between;
    font-weight: bold;
}

.FollowersPlusGrowth .growth{
    padding-top: 5px;
    font-size: 20px;
}


/* ------------------------ Media queries  ------------------------*/

@media (max-width: 767.98px){ 
    .cardOverView{
        margin-top: 15px;
    }

}







